@charset "UTF-8";
/* Интегрировал переменные с цветами */
/* Обозначил основные цвета */
html {
  font-size: 10px; }

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #1f2021;
  color: #ffffff; }

button, button:visited, button:focus, button:active, button:hover {
  outline: 0 none !important; }

.navbar-brand {
  padding-left: 0;
  margin: 0;
  font-size: 4rem; }
.navbar .nav-item {
  margin-right: 5rem;
  color: white; }
.navbar .nav-btn {
  width: 100px;
  height: 2em;
  color: white;
  background-color: #26292c;
  border: none;
  border-radius: 30px; }

.popular-news {
  width: 100%; }
  .popular-news__content {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 75%; }
  .popular-news__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh; }
    .popular-news__list h1 {
      font-size: 7vh;
      text-align: center;
      text-shadow: black 1px 0 10px; }
    .popular-news__list button {
      width: 17vh;
      height: 5vh;
      font-size: 2vh;
      font-weight: bold;
      background-color: #05325e;
      color: #fff;
      border: none;
      border-radius: 30px;
      box-shadow: 0px  5px 15px black; }

.slick-dots {
  margin-bottom: 30px; }

.popular-models {
  margin-top: 35px;
  margin-bottom: 70px; }
  .popular-models__title {
    font-size: 32px;
    font-weight: lighter; }
  .popular-models__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; }
  .popular-models__item {
    display: block;
    position: relative;
    min-width: 165px;
    max-width: 198px;
    height: 145px;
    margin: 0 15px;
    margin-top: 30px;
    background-color: #fff;
    overflow: hidden; }
    .popular-models__item img {
      max-width: 230px;
      width: auto;
      object-fit: cover;
      object-position: bottom; }
  .popular-models__item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.4s; }
    .popular-models__item:hover .popular-models__subtitle {
      height: 40%;
      transition: 0.4s; }
  .popular-models__subtitle {
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: 1000;
    width: 100%;
    height: 20%; }
    .popular-models__subtitle p {
      display: block;
      background-color: #26292c;
      font-size: 2.4rem;
      font-weight: bold;
      text-align: center;
      color: #fff;
      text-decoration: none; }
  .popular-models .tmb-wrap-table div.active {
    border-color: #191a1b; }

.dealer__title {
  font-size: 32px;
  line-height: 36px; }
.dealer__subtitle p {
  margin: 0;
  padding: 0;
  font-size: 18px; }
.dealer__subtitle p:first-child {
  margin-top: 1.9rem;
  color: #b4b4b4; }
.dealer__subtitle p:last-child {
  margin-top: 1.5rem;
  color: #7a7a7a; }

.auto {
  margin-top: 20px; }

.left-sidebar {
  border: none;
  margin-bottom: 15px; }
  .left-sidebar .card-header {
    font-weight: bold;
    font-size: 24px;
    background-color: #3f3f3f;
    text-align: center; }
  .left-sidebar ul .list-group-item--active {
    background-color: #aeafb1;
    border: none; }
  .left-sidebar ul li a {
    display: block;
    text-decoration: none;
    color: #1f2021;
    font-size: 18px; }
  .left-sidebar ul li:hover {
    background-color: #cacaca; }

.card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.card-item {
  max-width: 240px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap; }
  .card-item .fotorama {
    background-color: #fff; }
  .card-item .info {
    padding: 15px;
    text-align: center;
    color: #000;
    background-color: #fff;
    width: 100%; }
    .card-item .info h3 {
      font-size: 16px;
      font-weight: bold; }
    .card-item .info p {
      font-size: 12px;
      color: #7c7c7c; }
    .card-item .info .btn {
      background-color: #5c5757;
      border-radius: 10px;
      color: #fff;
      font-weight: bold;
      width: 13rem; }

.product-title h2 {
  margin-top: 25px;
  padding-left: 15px;
  font-size: 3rem; }

.product {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; }
  .product .product-photo {
    position: relative;
    width: 100%; }
  .product .three-d__btn {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    color: red; }
    .product .three-d__btn img {
      width: 40px; }

.modal-threed {
  display: none; }

.modal-threed--active {
  display: block;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(31, 32, 33, 0.8); }
  .modal-threed--active .modal-img {
    max-width: 800px;
    margin: 30px auto;
    background-color: #56524f; }
  .modal-threed--active button {
    position: absolute;
    right: 0;
    top: 0; }
    .modal-threed--active button img {
      width: 60px; }

.feature h3 {
  font-size: 2.4em;
  border-bottom: 1px solid grey; }
.feature .feature-table {
  text-align: right;
  width: 100%; }
  .feature .feature-table td {
    padding: 25px 0;
    font-size: 1.6rem;
    font-weight: lighter;
    background-color: #7c7c7c;
    text-align: center; }
  .feature .feature-table th {
    text-align: center;
    font-size: 1.8rem;
    font-weight: normal; }
  .feature .feature-table th:first-child {
    text-align: left; }
  .feature .feature-table th:last-child {
    text-align: right; }
  .feature .feature-table td:first-child {
    padding-left: 10px;
    text-align: left;
    font-size: 1.8rem;
    font-weight: normal; }

.footer {
  width: 100%;
  height: 6em;
  margin-top: 60px;
  background-color: #191a1b; }
  .footer p {
    display: block;
    margin: 0 auto; }
  .footer__content {
    color: rgba(255, 255, 255, 0.75); }
    .footer__content p {
      font-weight: lighter; }
  .footer__nav {
    padding: 0;
    margin: 0;
    display: flex; }
    .footer__nav li {
      margin-left: 2rem;
      list-style: none; }
      .footer__nav li a {
        color: rgba(255, 255, 255, 0.75); }

.news {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .news__top {
    border-bottom: 1px solid grey; }
  .news__img {
    display: block;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 2.5rem; }
    .news__img img {
      width: 100%;
      object-fit: cover;
      transform: translateY(-20%); }
  .news__title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px; }
    .news__title a {
      color: #fff;
      text-decoration: none; }
  .news__subtitle {
    font-size: 2.4rem;
    font-weight: normal;
    text-align: center;
    margin-top: 1rem; }
    .news__subtitle a {
      color: #fff;
      text-decoration: none; }
  .news__list {
    display: flex; }
  .news__item {
    margin-top: 30px;
    display: flex; }
  .news__img-wrapper {
    max-height: 300px;
    overflow: hidden; }
    .news__img-wrapper img {
      height: 100%;
      object-fit: cover;
      transform: translateX(-15%); }
  .news__content {
    padding: 0 15px; }
    .news__content a {
      color: #fff; }
      .news__content a h3 {
        font-size: 2.4rem; }
    .news__content p {
      font-size: 1.8rem;
      color: #b4b4b4; }

.reviews {
  margin-bottom: 45px; }
  .reviews h3 {
    padding: 0;
    margin-bottom: 25px;
    margin-top: 45px;
    font-size: 3.6rem;
    font-weight: normal; }
  .reviews a {
    margin: 0;
    padding: 0;
    display: block;
    color: #fff;
    text-decoration: none; }
  .reviews__card {
    position: relative;
    display: flex;
    margin-top: 30px;
    background-color: #666666;
    overflow: hidden; }
    .reviews__card h4 {
      margin: 15px 0;
      font-size: 3.4rem;
      font-weight: normal;
      color: #fff; }
    .reviews__card p {
      margin: 15px 0;
      color: #b4b3b3;
      font-size: 1.8rem;
      font-weight: lighter; }
  .reviews__card:before {
    content: "4.3";
    background-color: #675252;
    color: #000;
    text-align: center;
    font-size: 2.4rem;
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0; }
  .reviews__img {
    margin: 0;
    padding: 0; }
    .reviews__img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .reviews__title {
    max-height: 230px; }

.input-modal {
  color: #000; }
  .input-modal .btn {
    font-size: 1.4rem;
    color: #fff; }
  .input-modal .btn-login {
    background-color: #3C4146;
    font-size: 1.8rem;
    width: 150px;
    border: none; }
  .input-modal__checkbox {
    margin-top: 6px; }
  .input-modal .form-check-label {
    padding-left: 10px; }
  .input-modal .form-control {
    font-size: 1.8rem; }

.reg {
  padding-top: 45px;
  margin: 0 auto;
  font-size: 2.4rem; }
  .reg input {
    margin-bottom: 15px;
    font-size: 1.8rem; }
  .reg button {
    margin-top: 10px;
    font-size: 2.4rem;
    width: 100%;
    background-color: #26292c;
    border: none; }
  .reg button:hover {
    background-color: #26292e; }

.news-content {
  margin-top: 45px; }
  .news-content__title {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 30px; }
  .news-content__trailer {
    margin-bottom: 30px;
    padding: 0; }
    .news-content__trailer .youtube-video {
      width: 100%; }
  .news-content__subtitle h3 {
    font-size: 2.4rem;
    margin-bottom: 15px; }
  .news-content__subtitle p {
    color: #7c7c7c;
    margin-bottom: 15px; }
  .news-content__img img {
    width: 100%; }
  .news-content__top {
    margin-bottom: 30px;
    border-bottom: 1px solid grey; }

/* Адаптив сайта */
@media (max-width: 760px) {
  .popular-models__title {
    display: block;
    text-align: center;
    margin-left: 0; }
  .popular-models__list {
    flex-wrap: wrap; }

  .card-list {
    justify-content: space-around; }

  .feature {
    overflow: scroll; }

  .footer {
    padding: 0 15px; }
    .footer__nav {
      flex-direction: column; }

  .reviews__card {
    flex-direction: column; }

  .news__list {
    flex-direction: column; } }
@media (max-width: 1200px) {
  .dealer__address {
    text-align: center; }
  .dealer__map {
    display: flex;
    justify-content: center;
    margin-top: 30px; }

  .news__item {
    flex-direction: column; }
  .news__img-wrapper {
    margin-left: 15px;
    height: 150px; }
    .news__img-wrapper img {
      width: 700px;
      transform: translateY(-20%);
      transform: translatex(-17%); }
  .news__content {
    margin-top: 15px;
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
