/* Адаптив сайта */

@media(max-width: 760px){

.popular-models{
	&__title{
		display: block;
		text-align: center;

		margin-left: 0;
	}
	&__list{
		flex-wrap: wrap;
	}
}

.card-list{
	justify-content: space-around;
}

.feature{
	overflow: scroll;
}
.footer{
	padding: 0 15px;
	&__nav{
		flex-direction: column;
	}
}

.reviews{
	&__card{
		flex-direction: column;
	}
}
}

@media(max-width: 1200px){

.dealer{
	&__address{
		text-align: center;
	}
	&__map{
		display: flex;
		justify-content: center;

		margin-top: 30px;
	}
}
.news{

	&__list{
		justify-content: space-around;
	}
	&__main{
		height: 250px;
	}
}
}
